<header>
    <div class='header-container'>
        <div class='logo'>
            <!-- Icons made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
            <img src='https://image.flaticon.com/icons/svg/1413/1413197.svg'>
        </div>
        <nav>
            <ul>
                <li>
                    <a class='secondary-text' id ='home' href='/'>Home</a>
                </li>
                <li>
                    <a class='secondary-text' id ='routes' href='/routes'>Climbs</a>
                </li>
                <li>
                    <a class='secondary-text' id ='profile' href='/user'>Profile</a>
                </li>
                <% if(user) { %>
                    <li>
                        <a class='secondary-text' id ='log' href='auth/logout'>Log Out</a>
                    </li>
               <% } else { %>
                    <li>
                        <a class='secondary-text' id ='log' href='auth/login'>Log In</a>
                    </li>
              <% } %>
            </ul>
        </nav>
    </div>  
</header>
