<header>
    <div class='header-container'>
        <div class='logo'>

        </div>
        <nav>
            <ul>
                <li>
                    <a class='secondary-text' id ='home' href='/'>Home</a>
                </li>
                <li>
                    <a class='secondary-text' id ='routes' href='/routes'>Climbs</a>
                </li>
                <li>
                    <a class='secondary-text' id ='profile' href='/user'>Profile</a>
                </li>
                <% if(user) { %>
                    <li>
                        <a class='secondary-text' id ='log' href='auth/logout'>Log Out</a>
                    </li>
               <% } else { %>
                    <li>
                        <a class='secondary-text' id ='log' href='auth/login'>Log In</a>
                    </li>
              <% } %>
            </ul>
        </nav>
    </div>  
</header>
