<header>
    <div class='header-container'>
        <div class='logo'>
            <!-- Icons made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
            <img src='https://image.flaticon.com/icons/svg/1413/1413197.svg'>
        </div>
        <nav>
            <ul>
                <li>
                    <a id ='home' href='/'>Home</a>
                </li>
                <li>
                    <a id ='about' href='#'>Routes</a>
                </li>
                <li>
                    <a id ='toDos' href='#'>Profile</a>
                </li>
                <li>
                    <a id ='toDos' href='#'>Logout</a>
                </li>
            </ul>
        </nav>
    </div>  
</header>
