<header>
    <div class='header-container'>
        <div class='logo'>
            <img src='https://image.flaticon.com/icons/png/512/2217/2217560.png'>
        </div>
        <nav>
            <ul>
                <li>
                    <a class='secondary-text' id ='home' href='/'>Home</a>
                </li>
                <li>
                    <a class='secondary-text' id ='routes' href='/routes'>Climbs</a>
                </li>
                <li>
                    <a class='secondary-text' id ='profile' href='/user'>Profile</a>
                </li>
                <li>
                    <a class='secondary-text' id ='log' href='auth/login'>Log In</a>
                </li>
                <li>
                    <a class='secondary-text' id ='log' href='auth/logout'>Log Out</a>
                </li>
            </ul>
        </nav>
    </div>  
</header>
