<header>
    <div class='header-container'>
        <nav>
            <ul>
                <li>
                    <a id ='home' href='/'>Home</a>
                </li>
                <li>
                    <a id ='about' href='#'>Routes</a>
                </li>
                <li>
                    <a id ='toDos' href='#'>Profile</a>
                </li>
                <li>
                    <a id ='toDos' href='#'>Logout</a>
                </li>
            </ul>
        </nav>
    </div>  
</header>
