<%- include('../partials/boilerplate') %>
    //enctype is from other cloudinary implemntation plan. That may need to be changed.
        <form class ='margin-top' method ='POST'action='/upload' enctype='multipart/form-data'>
            <input type='text' name='name' placeholder='Name' />
            <input type='text' name='type' placeholder='Boulder, Sport, Trad' />
            <input type='text' name='rating' placeholder='Rating' />
            <input type='file' name='image' accept='image/png,image/jpeg'>
            <input class='click big primary' type='submit' value='Add Climb' />
        </form>


<%- include('../partials/end') %>