<%- include ('./partials/boilerplate.ejs') %>

        <div class='cover'>
            <h1> Welcome to Beta Boulders</h1>
            <div class='row'>
                <button class ='click big primary'>
                    <a class='secondary-text' href='/routes'>View Climbs</a>
                </button>
            </div>
        </div>
    </div>





<%- include ('./partials/end.ejs') %>