<%- include ('./partials/boilerplate.ejs') %>


    <h1> Welcome to Beta Boulders</h1>
    <button class ='click big'>
        <a href='#'>View Climbs</a>
    </button>







<%- include ('./partials/end.ejs') %>