<%- include ('./partials/boilerplate.ejs') %>

    
        <h1> Welcome to Beta Boulders</h1>
        <button class ='click big'>
            <a class='secondary' href='/routes'>View Climbs</a>
        </button>
    </div>





<%- include ('./partials/end.ejs') %>