body{
    margin:0;
}
h1{
    color: white;
    font-size: 3em;
}
.page{
    font-family: sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header,footer{
    background-color: #000;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}
.header-container{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.cover{
    background-image: url('../imgs/pexels-eberhard-grossgasteiger-673018.jpg');
    background-size: cover;
    height:93vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    color: white;
    margin: 5px;
}
.active{
    border-bottom: 3px solid #fca311;
}
.secondary{
    font-size: 1.5em;
    background-color: #14213d;
}
.secondary-text{
    text-decoration: none;
    color: white;
}
.primary{
   font-weight: bold;
   background-color: #fca311;
}
.primary-text{
    color: #14213D; 
}
img{
    height:50px;
}
.climb-img{
    height: 10em;
}
.click{
    /* background-color: #fca311; */
    margin: .25em;
    padding: .25em;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 2px;
}
.big{
    padding: 1em 2em;
}
table{
    width:70%;
    max-width: 700px;
}

td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.col-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
}
.main-column{
    display:flex;
    flex-direction: column;
}
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
footer{
    font-family: sans-serif;
    height: 80px;
    text-align: center;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
p{
    color: white;
}