body{
    margin:0;
}
h1{
    color: white;
    font-size: 3em;
}
.page{
    font-family: sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header,footer{
    background-color: #000;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow:1;
}
.padding{
    padding-top: 5em;
}
.header-container{
    width: 90vw;
    height:8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.cover{
    background-image: url('../imgs/pexels-eberhard-grossgasteiger-673018.jpg');
    background-size: cover;
    height:92vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    color: white;
    margin: 5px;
}
.active{
    border-bottom: 3px solid #fca311;
}
.secondary{
    font-size: 1.5em;
    background-color: #14213d;
}
.secondary-text{
    text-decoration: none;
    color: white;
}
.primary{
   font-weight: bold;
   background-color: #fca311;
}
.primary-text{
    color: #14213D; 
}
img{
    height:50px;
}
.climb-img{
    height: 20em;
    width:auto;
}
.show-img{
    height: 12em;
    width:auto;
}
.click{
    /* background-color: #fca311; */
    margin: .25em;
    padding: .25em;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 2px;
}
.big{
    padding: 1em 2em;
}
.CTA-row{
    display: flex;
    flex-direction: row;
    width: 70%;
}
table{
    width:70%;
    max-width: 700px;
}

td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.row{
    display:flex;
    flex-direction: row;
    margin-right: 7px;
    flex-wrap: wrap;

}
.col-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
}
.main-column{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.route-buttons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.stats{
    display: flex;
    margin-right: 15px;
}
.stats > h3{
    margin-right: 5px;
}
.row-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95vw;
}
.profile-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.relative{
    position:relative;
    max-width: 300px;
    margin: 5px;
}
.absolute{
    position:absolute;
    top: 10%;
    left:5%;
}
.overlay{
    position: absolute;
    background-color: #000;
    opacity: .4;
    width: 100%;
    height: 100%;
}
.profile-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; 
    margin-bottom: 5px;
    padding: 5px;
}
.profile-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 25vh;
    flex: 1;
}
.profile-img{
    height: 100%;
}
.margin-fix{
    margin:2px;
}
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
footer{
    font-family: sans-serif;
    height: 8vh;
    text-align: center;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
p{
    color: white;
}